doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src="socket.io/socket.io.js")
        script(src="/js/sockets.js")